<div id = "wrapper">
<h2>Edit Chord Sheet</h2>
<textarea #area>
</textarea>

<p>

<select #type>
  <option value=true>Public</option>
  <option value=false>Private</option>
</select>
<button (click) = "submit(area.value, type.value)"> Submit</button>
<button (click) = "clear()"> Clear </button>



</p>
<ul>
 <li *ngFor="let error of errors">
      {{error}}
    </li>
</ul>
 

<div *ngIf="clearSelected">
  <p> Are you sure you want to do this? </p>
  <button (click) = "clear(); area.value = ''">Confirm</button>
  <button (click) = "clear();">Cancel</button>

</div>
</div>
