<div id = "wrapper">

<h2>Public Area</h2>

 <div *ngIf="selectedChord==false">
  <chord-list (select) = "chordSelected($event)" >
  </chord-list>
 </div>


 <div *ngIf="selectedChord">
    <view-chord [chordName] = "selectedChord"> </view-chord>
  <public-control-bar (back) = "goBack($event)" (openNotice) = "openReport($event)"></public-control-bar>

 </div>

 <div *ngIf="report">
    <dmca-notice [chordName] = "selectedChord" (closeNotice) = "closeReport($event)" > </dmca-notice>
 

 </div>



 </div>