<account-control></account-control>
<public-control></public-control>


<div id = "wrapper">
<button (click)="showPrivacy()">Toggle Privacy Policy</button><br>
<div *ngIf="privacy">

    <h2>Privacy Policy</h2>

    <h3>GENERAL</h3>
    <p>Your privacy is important to us. This privacy policy is intended to give you confidence in the privacy and security of
        the personal information we obtain when you use chordjamz.com.</p>

    <h3>COLLECTION OF PERSONAL INFORMATION</h3>
    <p>When you use our website information collected may include, username, chord documents and chord document metadata. By
        giving us this information, you will need to consent to our using it in the manner described in this policy. You
        may withdraw your consent at any time by emailing us at admin@chordjamz.com. We will return or destroy your account
        and all associated data within five days of receipt of your withdrawal of consent. </p>

    <h3>USE OF PERSONAL INFORMATION</h3>
    <p>We use personal information to allow us to customize your user experience and generating content for use by you and other
        users. By marking a chord sheet public you are giving consent for the associated data to be released publicly, including
        your username, time of file modification, version number, and chord sheet content.</p>

    <h3>DISCLOSURE OF PERSONAL INFORMATION</h3>
    <p> We will not disclose your personal information to any third party under any circumstance unless you have consented to
        such disclosure or where we are required to do so by law. If we are under a duty to disclose or share your personal
        data in order to comply with any legal obligation, we may disclose your information to a relevant authority. </p>

    <h3>POLICY CHANGES</h3>
    <p>Changes in this policy will be posted on our website.You are advised to check our website regularly to view our most
        recent privacy policy.</p>

    <h3>Takeover and Dissolution </h3>
    <p>In the event of a takeover all data will be transferred to the new ownership. In the event of a dissolution all data
        will be destroyed.</p>

</div>

<button (click)="showDCMA()">Toggle DCMA Notice and Takedown Policy</button>



<div *ngIf="dcma">
    <h2>DCMA Notice and Takedown Procedure</h2>

    <p>It is the policy of chordjamz.com to respond to notices of alleged copyright infringement, in compliance with the Digital
        Millennium Copyright Act and other applicable laws. This notice describes how to serve a Notice of Infringing Material
        and what to do if any material you have placed on chordjamz.com becomes the subject of such a notice.</p>

    <p>Before serving either a Notice of Infringing Material or a Counter-Notification, you may wish to contact a lawyer to
        better understand your rights and obligations under the DMCA and other laws. The following notice requirements are
        intended to comply with ChordJamz’s rights and obligations under the DMCA and do not constitute legal advice.</p>

    <p>Our response to these notices may include removing or disabling access to material claimed to be the subject of infringing
        activity. If we remove or disable access in response to such a notice, we will make a good-faith attempt to contact
        the owner of the affected content, so that they may make a counter notification. We may also document notices of
        alleged infringement on which we act. Your complaint will also be a matter of record. A copy of the legal notice
        may be sent to one or more third parties who may then make it available to the public. Please be advised that you
        may be liable for damages if you materially misrepresent that some content is infringing your copyrights.</p>

    <p>By using our service, you license other customers to copy works you have uploaded into specific sections of those services
        or sites. Please examine the privacy and security policy in any situations where you and the alleged infringer is
        another customer of chordjamz.com, since you may have granted a license for some or all uses of your works at that
        chordjamz.com site.</p>

    <p>If you are a copyright owner or an agent thereof and you believe that any content on chordjamz.com infringes upon your
        copyrights, you may submit a notice pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing our Copyright
        Agent the following information in writing: </p>
    <ol>
        <li>Your physical or electronic signature;</li>
        <li>Identification of the copyrighted work or works claimed to have been infringed;</li>
        <li>Identification of the material that is claimed to be infringing that copyrighted work, and URLs or similar information
            sufficient to permit us to locate that material on our websites and services;</li>
        <li>Information to permit chordjamz.com’s agent to contact you: your address, telephone number and email address;</li>
        <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized
            by the copyright owner, its agent, or the law; and</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are the
            owner, or are authorized to act on behalf of the owner of the copyright that is allegedly infringed.</li>
    </ol>


    <h3>Designated DMCA Agent </h3>
    <p>chordjamz.com's designated DMCA Copyright Agent to receive Notices of Infringing Material is:<br> Albert Hernandez<br>        copyright@chordjamz.com
        <br> Phone: (111-343-4324)</p>



    <p>Only DMCA notices should go to our DMCA Copyright Agent. You acknowledge that if you fail to comply with all of the requirements
        listed, your DMCA notice may not be valid.</p>
    <h3>Counter-Notification</h3>
    <p>In some instances, a customer of chordjamz.com’s service who has uploaded or posted materials identified as described
        above may supply a counter-notification. The owner of an affected page or site on one chordjamz's.com, or the provider
        of affected content on one of our services may make a counter-notification pursuant to sections 512(g)(2) and (3)
        of the DCMA. When we receive a counter-notification, we may reinstate the posts or material in question. To file
        a counter-notification with us, you must provide a written communication (by email) that sets forth all of the items
        required by the DMCA. Please note that you will be liable for damages if you materially misrepresent that content
        or an activity is not infringing the copyrights of others. If you are not sure whether certain material infringes
        the copyrights of others, we suggest that you first contact an attorney. </p>



</div>
</div>